@use '../abstracts' as *;

/**
 * mode.scss
 * Mode Utilities
 */

/**
* Light / Dark Mode
*/

.u-darkMode {
  color: swatch('White');

  blockquote {
    color: swatch('White');
  }

  a {
    color: swatch('White');
    &:hover {
      color: swatch('Secondary');
    }
  }
}

.u-lightMode {
  color: swatch('Neutral');

  blockquote,
  a {
    color: swatch('Primary');
  }
}
