/* ---------------------------------------------------------------------
 Global Variables

 Major Breakpoints
 - 480px
 - 640px
 - 768px
 - 960px
 - 1160px
 - 1340px
------------------------------------------------------------------------ */


@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* layouts */
    --global-max-width: 1340px;
    --global-max-width-sm: 640px;
    --global-max-width-md: 768px;
    --global-max-width-lg: 960px;
    --global-min-width: 320px;
    --global-wrapper-insulation: 30px;

    /* color palette */
    --palette-white: #ffffff;
    --palette-offWhite: #eeeeee;
    --palette-beige: #F4EBE8;
    --palette-pink: #FF7DFF;
    --palette-black: #000000;
    --palette-red: #FF380B;
    --palette-green: #C7EF00;
    --palette-blue:  #7490FF;
    --palette-lightBlue:  #E4EAFF;

    /* interface colors */
    --color-transparent: transparent;
    --color-white: rgb(from var(--palette-white) r g b / 1);
    --color-offWhite: rgb(from var(--palette-offWhite) r g b / 1);
    --color-black: rgb(from var(--palette-black) r g b / 1);

    /* brand colors */
    --color-brand-beige: rgb(from var(--palette-beige) r g b / 1);
    --color-brand-lightBlue: rgb(from var(--palette-lightBlue) r g b / 1);
    --color-brand-pink: rgb(from var(--palette-pink) r g b / 1);
    --color-brand-red: rgb(from var(--palette-red) r g b / 1);
    --color-brand-green: rgb(from var(--palette-green) r g b / 1);
    --color-brand-blue: rgb(from var(--palette-blue) r g b / 1);

    /* state colors*/
    --color-error: rgb(from var(--palette-red) r g b / 1);
    --color-success: rgb(from var(--palette-green) r g b / 1);

    /* font stacks */
    --fontFamily-sans:
"Poetsen One", sans-seri,
        'ui-sans-serif',
        'system-ui',
        '-apple-system',
        'BlinkMacSystemFont',
        '"Segoe UI"',
        'Roboto',
        'Arial',
        '"Noto Sans"',
        'sans-serif',
        '"Apple Color Emoji"',
        '"Segoe UI Emoji"',
        '"Segoe UI Symbol"',
        '"Noto Color Emoji"';
    --fontFamily-display:
        'Poppins',
        'ui-sans-serif',
        'system-ui',
        '-apple-system',
        'BlinkMacSystemFont',
        '"Segoe UI"',
        'Roboto',
        'Arial',
        '"Noto Sans"',
        'sans-serif',
        '"Apple Color Emoji"',
        '"Segoe UI Emoji"',
        '"Segoe UI Symbol"',
        '"Noto Color Emoji"';
    --fontFamily-serif:
        'ui-serif',
        'Georgia',
        'Cambria',
        '"Times New Roman"',
        'Times',
        'serif';
    --fontFamily-monospace:
        'ui-monospace',
        'SFMono-Regular',
        'Menlo',
        'Monaco',
        'Consolas',
        '"Liberation Mono"',
        '"Courier New"',
        'monospace';

    /* static text sizes */
    --txt-3xs: 0.75rem;     /* 12px */
    --txt-2xs: 0.875rem;    /* 14px */
    --txt-xs: 1rem;         /* 16px */
    --txt-sm: 1.125rem;     /* 18px */
    --txt-md: 1.25rem;      /* 20px */
    --txt-lg: 1.375rem;     /* 22px */
    --txt-xl: 1.5rem;       /* 24px */
    --txt-2xl: 1.625rem;    /* 26px */
    --txt-3xl: 2.0625rem;   /* 33px */
    --txt-4xl: 2.4375rem;   /* 39px */
    --txt-5xl: 2.875rem;    /* 46px */
    --txt-6xl: 3.25rem;     /* 52px */

    /* fluid text sizes (headlines) - from 320px to 1240px - https://utopia.fyi/type/calculator */
    --txt-fluid-d1: clamp(2.4375rem, 2.1549rem + 1.413vw, 3.25rem);     /* 39px → 52px */
    --txt-fluid-d2: clamp(2.0625rem, 1.7799rem + 1.413vw, 2.875rem);    /* 33px → 46px */
    --txt-fluid-d3: clamp(1.625rem, 1.3424rem + 1.413vw, 2.4375rem);    /* 26px → 39px */
    --txt-fluid-d4: clamp(1.5rem, 1.3043rem + 0.9783vw, 2.0625rem);     /* 24px → 33px */
    --txt-fluid-d5: clamp(1.25rem, 1.1196rem + 0.6522vw, 1.625rem);     /* 20px → 26px */
    --txt-fluid-d6: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);      /* 18px → 24px */
    --txt-fluid-d7: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);        /* 16px → 22px */

    /* fluid text sizes (paragraphs) - from 320px to 1240px - https://utopia.fyi/type/calculator */
    --txt-fluid-p1: clamp(1.25rem, 1.1196rem + 0.6522vw, 1.625rem);     /* 20px → 26px */
    --txt-fluid-p2: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);     /* 18px → 20px */
    --txt-fluid-p3: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);        /* 16px → 18px */
    --txt-fluid-p4: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);       /* 15px → 16px */

    /* line-heights */
    --lh-1: 1;
    --lh-xs: 1.1;
    --lh-sm: 1.25;
    --lh-md: 1.375;
    --lh-lg: 1.5;

    /* default colors */
    --theme-txt-color: var(--color-black);
    --theme-hdg-color: var(--color-black);

    /* text defaults */
    --default-font-color: var(--theme-txt-color);
    --default-font-family: var(--fontFamily-sans);
    --default-font-size: var(--txt-sm);
    --default-line-height: var(--lh-md);
    --default-font-weight: 400;

    /* transitions */
    --trans-all-quick: 250ms all ease;
    --trans-nav-quick: background 250ms linear, color 250ms linear;

    /* z-index */
    --zindex-masthead: 99;
}

@media (min-width: 640px) {
    :root {
        --global-wrapper-insulation: 50px;
    }
}
