/* ---------------------------------------------------------------------
 Landmark: Masthead
------------------------------------------------------------------------ */
.masthead {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.masthead__brand {
    flex: 0 0 190px;

}

/* Rule is 1px greater than Mega Menu Plugin breakpoint setting */
@media (min-width: 1024px) {
    .masthead {
        padding: 50px 0;
        justify-content: space-between;
    }
}

@media (min-width: var(--global-max-width-md)) {
    .masthead   {
        flex-wrap: nowrap;
    }
}

/* ---------------------------------------------------------------------
 Landmark: Mega Menu Plugin Overrides
------------------------------------------------------------------------ */
.masthead__menu {
    font-family: var(--fontFamily-display) !important;
}

.masthead__menu a.mega-menu-link {
    transition: var(--trans-nav-quick) !important;
}

#menu-main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}



@media (min-width: var(--global-max-width-md)) {
        #menu-main-menu {
            justify-content: flex-end;
            gap: 40px;
        }
}
