/* ---------------------------------------------------------------------
 Themes - Text Color Defaults
------------------------------------------------------------------------ */
[data-theme-txt-color] {
    color: var(--theme-txt-color); /* set default color to container */
}

[data-theme-txt-color="white"] {
    --theme-txt-color: var(--color-white);
}

[data-theme-txt-color="offWhite"] {
    --theme-txt-color: var(--color-brand-offWhite);
}

[data-theme-txt-color="beige"] {
    --theme-txt-color: var(--color-brand-beige);
}

[data-theme-txt-color="pink"] {
    --theme-txt-color: var(--color-brand-pink);
}

[data-theme-txt-color="red"] {
    --theme-txt-color: var(--color-brand-red);
}

[data-theme-txt-color="green"] {
    --theme-txt-color: var(--color-brand-green);
}

[data-theme-txt-color="blue"] {
    --theme-txt-color: var(--color-brand-blue);
}

[data-theme-txt-color="lightBlue"] {
    --theme-txt-color: var(--color-brand-lightBlue);
}

[data-theme-txt-color="black"] {
    --theme-txt-color: var(--color-black);
}

/* ---------------------------------------------------------------------
 Themes - Headline Default Colors
------------------------------------------------------------------------ */
[data-theme-hdg-color="white"] {
    --theme-hdg-color: var(--color-white);
}

[data-theme-hdg-color="offWhite"] {
    --theme-hdg-color: var(--color-brand-offWhite);
}

[data-theme-hdg-color="beige"] {
    --theme-hdg-color: var(--color-brand-beige);
}

[data-theme-hdg-color="pink"] {
    --theme-hdg-color: var(--color-brand-pink);
}

[data-theme-hdg-color="red"] {
    --theme-hdg-color: var(--color-brand-red);
}

[data-theme-hdg-color="green"] {
    --theme-hdg-color: var(--color-brand-green);
}

[data-theme-hdg-color="blue"] {
    --theme-hdg-color: var(--color-brand-blue);
}

[data-theme-hdg-color="lightBlue"] {
    --theme-hdg-color: var(--color-brand-lightBlue);
}

[data-theme-hdg-color="black"] {
    --theme-hdg-color: var(--color-black);
}