/* ---------------------------------------------------------------------
 Layout: Bumper
------------------------------------------------------------------------ */
.bumper {
    padding-top: var(--bumper-sm-top, var(--global-wrapper-insulation));
    padding-bottom: var(--bumper-sm-bot, var(--global-wrapper-insulation));
}

@media (min-width: 640px) {
    .bumper {
        padding-top: var(--bumper-lg-top, var(--global-wrapper-insulation));
        padding-bottom: var(--bumper-lg-bot, var(--global-wrapper-insulation));
    }
}
