/* ---------------------------------------------------------------------
 Layout: Site
------------------------------------------------------------------------ */
.site {
    display: flex;
    min-height: 100vh;
    /* fallback */
    min-height: 100dvh;
    flex-direction: column;
}

/* .site__masthead {
    position: sticky;
    top: 0;
    z-index: var(--zindex-masthead);
} */

.site__main {
    flex: 1;
}


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f4ebe8;
    color: #7490ff;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poetsen One", sans-serif;
    color: #7490ff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

header nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

header a {
    color: #7490ff;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #ff7dff;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

header a:hover::after,
header a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

header .logo a {
    font-family: "Poetsen One", sans-serif;
    color: #ff7dff;
    align-self: flex-start;
    font-size: 32px;
}

section {
    margin: 100px auto;
    max-width: 1280px;
    padding: 0 20px;
}

@media only screen and (max-width: 768px) {
    section {
        margin: 48px auto;
    }
}

.section--full-width {
    margin: 0;
    max-width: none;
    padding: 0;
}

.section--heading {
    font-size: 44px;
    text-align: center;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 75px);
    max-width: none;
    padding: 0;
    padding-top: 100px;
    margin: 0;
}

.hero>div:not(.social) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.hero h1 {
    font-size: 60px;
}

.hero .subhead {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #ff7dff;
}

.hero::after {
    content: '';
    width: 100%;
    height: 100px;
    background-color: #ff7dff;
    align-self: flex-end;
    --mask: radial-gradient(52.98px at 50% calc(100% + 25.2px), #000 0 calc(99% - 8px), #000 calc(101% - 8px) 99%, #000 0 101%) calc(50% - 84px) calc(50% - 25px + .5px)/168px 50px repeat-x, radial-gradient(52.98px at 50% -25.2px, #000 0 calc(99% - 8px), #000 calc(101% - 8px) 99%, #000 0 101%) 50% calc(50% + 25px)/168px 50px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.about {
    padding: 50px 0 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .about {
        flex-wrap: wrap;
        padding: 0;
        margin: 20px 0;
    }
}

.about__image {
    flex-basis: 33%;
}

.about__image img {
    border-radius: 20px;
    max-height: 500px;
}

@media only screen and (max-width: 768px) {
    .about__image {
        flex-basis: 100%;
        margin: 12px;
    }
}

.about__body {
    flex-basis: 50%;
}

@media only screen and (max-width: 768px) {
    .about__body {
        margin: 20px;
        flex-basis: 100%;
    }
}

.project {
    display: flex;
    gap: 100px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .project {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.project__image {
    background-color: #e4eaff;
    display: flex;
    align-items: center;
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    .project__image {
        height: auto;
    }
}

.project__image img {
    max-width: 500px;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .project__image img {
        max-width: 80%;
        max-height: 200px;
        margin: 30px 20px 30px 30px;
    }
}

.project__left {
    background-color: var(--palette-red);
    border-radius: 0 100px 100px 0;
}

@media only screen and (max-width: 768px) {
    .project__left {
        margin: 0 50px 0 0;
    }

    .project__left img {
        border-radius: 0 50px 50px 0;
    }
}

.project__right {
    background-color: var(--palette-pink);
    border-radius: 100px 0 0 100px;
    order: 1;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .project__right {
        margin: 0 0 0 50px;
        order: -1;
    }

    .project__right img {
        border-radius: 50px 0 0 50px;
    }
}

.project__body {
    padding: 50px;
}

.project>div {
    flex-basis: 48%;
}

@media only screen and (max-width: 768px) {
    .project>div {
        flex-basis: auto;
    }
}

.section__resume {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: #e4eaff;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .section__resume {
        max-width: 90%;
        padding: 20px;
    }
}

.section__resume>div {
    margin-top: 20px;
}

.section__resume h2 {
    text-align: center;
}

.pricing-column {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .pricing-column {
        justify-content: space-evenly;
    }
}

.pricing-column__single {
    border: 5px #7490ff solid;
    border-radius: 50px;
    padding: 24px;
    margin: 40px 0;
    flex-basis: 30%;
}

@media only screen and (max-width: 768px) {
    .pricing-column__single {
        flex-basis: 100%;
    }
}

