/* ---------------------------------------------------------------------
 Layout: Stack
------------------------------------------------------------------------ */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack--end {
    justify-content: flex-end;
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--stack-space, 1.3rem);
}

.stack--xs > * + * {
    margin-block-start: var(--stack-space, 0.4rem);
}

.stack--sm > * + * {
    margin-block-start: var(--stack-space, 0.85rem);
}

.stack--md > * + * {
    margin-block-start: var(--stack-space, 1.7rem);
}

.stack--lg > * + * {
    margin-block-start: var(--stack-space, 2.5rem);
}

.stack:only-child {
    block-size: 100%;
}
