/* ---------------------------------------------------------------------
 Layout: Tier
------------------------------------------------------------------------ */
.tier {
    background-color: var(--color-transparent);
}

.tier--white { background-color: var(--color-white); }
.tier--offWhite { background-color: var(--color-offWhite); }
.tier--beige { background-color: var(--color-brand-beige); }
.tier-blue { background-color: var(--color-brand-blue); }
.tier--lightBlue { background-color: var(--color-brand-lightBlue); }
.tier--red { background-color: var(--color-brand-red); }
.tier--pink { background-color: var(--color-brand-pink); }
.tier--green { background-color: var(--color-brand-green); }
.tier--black { background-color: var(--color-black); }
