.hero--home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.hero--home h1 {
    font-size: 4rem;
}

.hero--home > :not(.social-media) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    text-align: center;
}

.hero--home:after {
        content: '';
        width: 100%;
        height: 100px;
        background-color: var(--palette-pink);
        align-self: flex-end;
        --mask:
            radial-gradient(52.98px at 50% calc(100% + 25.2px), #0000 calc(99% - 8px), #000 calc(101% - 8px) 99%, #0000 101%) calc(50% - 84px) calc(50% - 25px + .5px)/168px 50px repeat-x,
            radial-gradient(52.98px at 50% -25.2px, #0000 calc(99% - 8px), #000 calc(101% - 8px) 99%, #0000 101%) 50% calc(50% + 25px)/168px 50px repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        display: block;
        margin-bottom: 50px;
};