.pill__container  {
        display: flex;
        gap: 1rem;
        margin: 1.5rem 0;
        flex-wrap: wrap;
}

.pill__tag {
    background-color: var(--palette-green);
    color: var(--palette-black);
    font-size: 14px;
    line-height: 14px;
    padding: 0.5rem 0.5rem 0.25rem;
    border-radius: 10px;
    font-weight: bold;
    padding-top: 6px;
}


@media only screen and (max-width: 768px) {
    .pill__container {
        flex-wrap: wrap;
    }
}