/* ---------------------------------------------------------------------
 Component: Social
------------------------------------------------------------------------ */
.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 50px;
    z-index: 2;
    position: relative;
    align-self: center;
}
.social-media__link {
    background-color: var( --palette-green);
    padding: 0.25rem;
    border-radius: 100%;
}
.social-media__link img {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    padding: 4px;
    box-sizing: border-box;
}
.social-media__link img:hover {
    background-color: var(--palette-blue);
    cursor: pointer;
}
.social-media__link:hover {
    background-color: var(--palette-blue);
    cursor: pointer;
}
