@use '../../../assets/src/sass/abstracts' as *;

/******************************
    BLOCK: Related Content
******************************/
.block--related-content {
    &:not(:first-child){
        margin-top: 1.5rem;
        @include create-mq($md-width) {
            margin-top: 4.5rem;
        }
    }

    .related-content{
        &__grid{
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
            list-style: none;
            margin:0;
            padding:0;
            li{
                margin:0;
                padding:0;
                border-top: .5px swatch("Neutral") solid;
                padding-top: 2rem;
            }
            @include create-mq($md-width) {
                gap: 3rem;
                // row-gap: 4.5rem;
                grid-template-columns: 1fr 1fr;
            }
            @include create-mq($xl-width) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    
    
    &.related-content--border-between{
        &:not(:first-child){
            margin-top: 2rem;
            @include create-mq($md-width) {
                margin-top: 3rem;
            }
        }
        .related-content__grid{
            @include create-mq($md-width) {
                gap:4.5rem;
            }
            li{
                @include create-mq($md-width) {
                    border-top:none;
                    padding:0;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: -2.25rem;
                        border-right: .5px swatch("Neutral") solid;
                    }
                    &:nth-child(2n){
                        &::after{
                            display: none;
                        }
                    }
                }
                @include create-mq($xl-width) {
                    &:nth-child(2n){
                        &::after{
                            display: block;
                        }
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .card__content{
        margin-bottom: -.25rem;
    }
}
