/* ---------------------------------------------------------------------
 Helper: Aspect Ratios 16x9 or 4x3
------------------------------------------------------------------------ */
.has16x9Media {
    padding-bottom: 56.25%; /* 16:9 */
}

.has4x3Media {
    padding-bottom: 75%; /* 4:3 */
}

.has16x9Media,
.has4x3Media {
    position: relative;
    height: 0;
    background-color: var(--color-black);
}

.has16x9Media iframe,
.has4x3Media iframe,
.has16x9Media object,
.has4x3Media object,
.has16x9Media embed,
.has4x3Media embed,
.has16x9Media img,
.has4x3Media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.has16x9Media img,
.has4x3Media img {
    object-fit: scale-down;
}

/* ---------------------------------------------------------------------
 Helper: Aspect Ratios Full Width / Auto Height
------------------------------------------------------------------------ */
.hasFullWidthMedia iframe,
.hasFullWidthMedia object,
.hasFullWidthMedia embed,
.hasFullWidthMedia img {
    display: block;
    width: 100% !important;
}

/* ---------------------------------------------------------------------
 Helper: Aspect Ratios Full Width / Auto Height
------------------------------------------------------------------------ */
.hasAutoSizeMedia iframe,
.hasAutoSizeMedia object,
.hasAutoSizeMedia embed,
.hasAutoSizeMedia img {
    display: block;
}
