/* ---------------------------------------------------------------------
 Helper: Display
------------------------------------------------------------------------ */
.isHidden {
    display: none;
}

.isBlock {
    display: block;
}

.isInline {
    display: inline;
}

.isInlineBlock {
    display: inline-block;
}
