/* ---------------------------------------------------------------------
 Helper: Type
------------------------------------------------------------------------ */
.isUnderlined {
    text-decoration: underline !important;
}

.isBold {
    font-weight: 700 !important;
}

.isItalics {
    font-style: italic !important;
}

.isCentered {
    text-align: center !important;
}
