/* ---------------------------------------------------------------------
 Helper: Visibility
------------------------------------------------------------------------ */
.isHidden,
.isVisuallyHidden,
.screen-reader-text,
.sr-only {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%) !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

.isVisible {}
