/* ---------------------------------------------------------------------
 Content: Text
------------------------------------------------------------------------ */
.txt {
    color: var(--default-font-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    font-weight: var(--default-font-weight);
    font-style: normal;
}

/* family utils */
.txt--sans { font-family: var(--fontFamily-sans) !important; }
.txt--serif { font-family: var(--fontFamily-serif) !important; }
.txt--mono { font-family: var(--fontFamily-monospace) !important; }
.txt--display { font-family: var(--fontFamily-display) !important; }

/* static size utils */
.txt--3xs { font-size: var(--txt-3xs) !important; }
.txt--2xs { font-size: var(--txt-2xs) !important; }
.txt--xs { font-size: var(--txt-xs) !important; }
.txt--sm { font-size: var(--txt-sm) !important; }
.txt--md { font-size: var(--txt-md) !important; }
.txt--lg { font-size: var(--txt-lg) !important; }
.txt--xl { font-size: var(--txt-xl) !important; }
.txt--2xl { font-size: var(--txt-2xl) !important; }
.txt--3xl { font-size: var(--txt-3xl) !important; }
.txt--4xl { font-size: var(--txt-4xl) !important; }
.txt--5xl { font-size: var(--txt-5xl) !important; }
.txt--6xl { font-size: var(--txt-6xl) !important; }

/* fluid size utils for headlines */
.txt--d1 { font-size: var(--txt-fluid-d1) !important; }
.txt--d2 { font-size: var(--txt-fluid-d2) !important; }
.txt--d3 { font-size: var(--txt-fluid-d3) !important; }
.txt--d4 { font-size: var(--txt-fluid-d4) !important; }
.txt--d5 { font-size: var(--txt-fluid-d5) !important; }
.txt--d6 { font-size: var(--txt-fluid-d6) !important; }
.txt--d7 { font-size: var(--txt-fluid-d7) !important; }

/* fluid size utils for paragraphs */
.txt--p1 { font-size: var(--txt-fluid-p1) !important; }
.txt--p2 { font-size: var(--txt-fluid-p2) !important; }
.txt--p3 { font-size: var(--txt-fluid-p3) !important; }
.txt--p4 { font-size: var(--txt-fluid-p4) !important; }

/* color utils */
.txt--txtColor { color: var(--theme-txt-color) !important; }
.txt--hdgColor { color: var(--theme-hdg-color) !important; }
.txt--white { color: var(--color-white) !important; }
.txt--offWhite { color: var(--color-brand-offWhite) !important; }
.txt--red { color: var(--color-brand-red) !important; }
.txt--pink { color: var(--color-brand-pink) !important; }
.txt--green { color: var(--color-brand-gree) !important; }
.txt--blue { color: var(--color-brand-blue) !important; }
.txt--lightBlue { color: var(--color-brand-lightBlue) !important; }
.txt--beige { color: var(--color-brand-beige) !important; }
.txt--black { color: var(--color-black) !important; }

/* weight & style utils */
.txt--italic { font-style: italic !important; }
.txt--300 { font-weight: 300 !important; }
.txt--400 { font-weight: 400 !important; }
.txt--500 { font-weight: 500 !important; }
.txt--600 { font-weight: 600 !important; }
.txt--700 { font-weight: 700 !important; }
.txt--800 { font-weight: 800 !important; }
.txt--900 { font-weight: 900 !important; }

/* tracking utils */
.txt--ls-0 { letter-spacing: normal !important; }
.txt--ls-25 { letter-spacing: 0.025em !important; }
.txt--ls-50 { letter-spacing: 0.05em !important; }
.txt--ls-100 { letter-spacing: 0.1em !important; }
.txt--ls-200 { letter-spacing: 0.2em !important; }

/* line-height utils */
.txt--lh-one { line-height: var(--lh-1) !important; }
.txt--lh-xs { line-height: var(--lh-xs) !important; }
.txt--lh-sm { line-height: var(--lh-sm) !important; }
.txt--lh-md { line-height: var(--lh-md) !important; }
.txt--lh-lg { line-height: var(--lh-lg) !important; }

/* alignment utils */
.txt--left { text-align: left !important; }
.txt--center { text-align: center !important; }
.txt--right { text-align: right !important; }

/* wrap utils */
.txt--balance { text-wrap: balance !important; }
.txt--pretty { text-wrap: pretty !important; }
.txt--wrapAuto { text-wrap: auto !important; }

/* other utils */
.txt--uppercase { text-transform: uppercase !important; }
.txt--lowercase { text-transform: lowercase !important; }
.txt--transformNone { text-transform: none !important; }
.txt--underline { text-decoration: underline !important; }



h2 {
    font-size: var(--txt-3xl);
}

h3 {
    font-size: var(--txt-lg);
}

h2.wp-block-heading.has-text-align-center {
    margin: 50px auto 100px;
    max-width: 1280px;
    padding: 0 20px;
    text-align: center;
}