/* ---------------------------------------------------------------------
 Content: UserContent
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Clearfix
 - Always clear content in case it contains floats
------------------------------------------------------------------------ */
.userContent::before,
.userContent::after {
    content: " ";
    display: table;
}

.userContent::after {
    clear: both;
}

/* ---------------------------------------------------------------------
 Defaults
------------------------------------------------------------------------ */
.userContent {
    --uc-vr-std: 1rem;
    --uc-vr-lg: 1.7rem;
    --uc-vr-xl: 2rem;
    --uc-vr-2xl: 3rem;

    background-color: transparent;
    color: var(--theme-txt-color);
    font-family: var(--fontFamily-sans);
    font-size: var(--txt-fluid-p2);
    line-height: var(--lh-md);
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    word-wrap: break-word;
}

/* mini reset for editor-styles */
.userContent * {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ---------------------------------------------------------------------
 Vertical Rhythm
 - set general spacing
 - always remove start margin from first child
 - always remove bottom margin from last child
 - don't apply VR to BR
------------------------------------------------------------------------ */
.userContent > *:not(br) {
    margin-block-start: var(--uc-vr-std);
}

.userContent > *:first-child {
    margin-block-start: 0 !important;
}

.userContent > *:last-child {
    margin-block-end: 0 !important;
}

/* ---------------------------------------------------------------------
 Media
 - media should never overflow it's container
 - ensure direct descendant media has vertical rhythm
------------------------------------------------------------------------ */
.userContent img,
.userContent iframe,
.userContent embed,
.userContent object,
.userContent video,
.userContent audio,
.userContent canvas,
.userContent picture {
    max-width: 100% !important;
}

.userContent > img,
.userContent > iframe,
.userContent > embed,
.userContent > object,
.userContent > video,
.userContent > audio,
.userContent > canvas,
.userContent > picture {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Anchors (but not buttons)
------------------------------------------------------------------------ */
.userContent a:not(.btn),
.userContent a:link:not(.btn),
.userContent a:active:not(.btn),
.userContent a:visited:not(.btn),
.userContent a:focus:not(.btn),
.userContent a:hover:not(.btn) {
    color: inherit;
    text-decoration: underline;
}

/* ---------------------------------------------------------------------
 Paragraphs
------------------------------------------------------------------------ */
.userContent p {
    hyphens: manual;
}

/* ---------------------------------------------------------------------
 Headings
 - mostly matches .txt headings
 - adds extra space before headings
------------------------------------------------------------------------ */
.userContent h1,
.userContent h2,
.userContent h3,
.userContent h4,
.userContent h5,
.userContent h6 {
    margin-block-start: var(--uc-vr-lg);
    color: var(--theme-hdg-color);
    font-family: var(--fontFamily-display);
    line-height: var(--lh-sm);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-wrap: balance;
}

.userContent h1 { font-size: var(--txt-fluid-d1); }
.userContent h2 { font-size: var(--txt-fluid-d2); }
.userContent h3 { font-size: var(--txt-fluid-d3); }
.userContent h4 { font-size: var(--txt-fluid-d4); }
.userContent h5 { font-size: var(--txt-fluid-d5); }
.userContent h6 { font-size: var(--txt-fluid-d6); }

.userContent h1 a,
.userContent h2 a,
.userContent h3 a,
.userContent h4 a,
.userContent h5 a,
.userContent h6 a {
    color: inherit !important;
    text-decoration: none !important;
}

/* ---------------------------------------------------------------------
 Lists
------------------------------------------------------------------------ */
.userContent ul {
    list-style-type: disc;
}

.userContent ol {
    list-style-type: decimal;
}

.userContent dt {
    font-weight: bold;
    margin-bottom: 0.3rem; /* create space dt & dd */
}

.userContent li,
.userContent dd {
    margin-left: 1.7rem; /* leave room for the marker */
}

.userContent li:not(:last-child),
.userContent dd:not(:last-child) {
    margin-bottom: 0.3rem; /* create space between items */
}

.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
    margin-top: 0.3rem; /* nested lists add top-margin to equalize space */
    margin-bottom: 0; /* nested lists have no margin-bottom */
}

.userContent ol ul,
.userContent ul ul {
    list-style-type: circle;
}

.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
    list-style-type: square;
}

/* ---------------------------------------------------------------------
 Table
------------------------------------------------------------------------ */
.userContent table {
    width: 100% !important;
    margin-block-start: var(--uc-vr-lg);
    margin-block-end: var(--uc-vr-xl);
    border-spacing: 0;
    border-collapse: collapse;
}

.userContent caption {
    font-size: var(--txt-sm);
    padding: 0.625rem 0.75rem;
    text-align: center;
}

.userContent tr {
    vertical-align: middle;
}

.userContent tbody {
    vertical-align: middle;
}

.userContent thead {
    vertical-align: middle;
}

.userContent tfoot {
    vertical-align: middle;
}

.userContent td {
    vertical-align: inherit;
    text-align: left;
    color: var(--theme-txt-color);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--theme-txt-color);
    background-color: transparent;
}

.userContent th {
    vertical-align: inherit;
    text-align: left;
    font-weight: bold;
    color: var(--theme-txt-color);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--theme-txt-color);
    background-color: transparent;
}

/* ---------------------------------------------------------------------
 Blockquote
------------------------------------------------------------------------ */
.userContent blockquote {
    box-sizing: border-box;
    margin-top: var(--uc-vr-xl);
    margin-bottom: var(--uc-vr-xl);
    border: none;
    padding: 30px 40px;
    background-color: var(--color-brand-beige);
    background-image: none;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: auto;
    color: var(--color-brand-blue);
    font-family: var(--fontFamily-display);
    font-weight: 600;
    font-size: var(--txt-fluid-p1);
    line-height: var(--lh-md);
    font-style: italic;
    text-align: left;
    letter-spacing: 0.025em;
    text-wrap: auto;
}

.userContent blockquote > * {
    margin-block-start: var(--uc-vr-lg);
}

.userContent blockquote > *:first-child {
    margin-block-start: 0 !important;
}

.userContent blockquote > *:last-child {
    margin-block-end: 0 !important;
}

/* ---------------------------------------------------------------------
 Horizontal Rule
------------------------------------------------------------------------ */
.userContent hr {
    margin-block-start: var(--uc-vr-lg);
    margin-block-end: var(--uc-vr-lg);
    height: 1px;
    border: none;
    background-color: var(--theme-txt-color);
    color: var(--theme-txt-color);
    line-height: 1px;
    font-size: 1px;
}

/* ---------------------------------------------------------------------
 Computer Output
------------------------------------------------------------------------ */
.userContent pre {
    margin-block-start: var(--uc-vr-lg);
    margin-block-end: var(--uc-vr-lg);
    padding: 2rem;
    border: 1px solid var(--color-brand-black);
    background-color: var(--color-brand-black);
    color: var(--color-white);
    font-family: var(--fontFamily-monospace);
    font-size: var(--txt-sm);
    line-height: inherit;
    border-radius: 0;
    white-space: pre-wrap;
    word-break: break-all;
}

.userContent code {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid var(--color-brand-black);
    background-color: var(--color-brand-black);
    color: var(--color-white);
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

.userContent pre code {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border-radius: 0;
}

.userContent code,
.userContent samp,
.userContent tt,
.userContent kbd,
.userContent var {
    font-family: var(--fontFamily-monospace);
}

.userContent var {
    font-style: italic;
}

/* ---------------------------------------------------------------------
 Inline Text
------------------------------------------------------------------------ */
.userContent address {
    font-style: italic;
}

.userContent strong,
.userContent b {
    font-weight: bold;
}

.userContent em,
.userContent i {
    font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
    text-decoration: line-through;
}

.userContent u,
.userContent ins {
    text-decoration: underline;
}

.userContent sup {
    vertical-align: super;
    font-size: smaller;
}

.userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

.userContent big {
    font-size: larger;
}

.userContent small {
    font-size: smaller;
}

.userContent abbr,
.userContent acronym {
    border: none;
    text-decoration: underline dotted;
}

.userContent cite,
.userContent dfn {
    font-style: italic;
}

.userContent q {
    font-style: italic;
}

.userContent q::before {
    content: open-quote;
}

.userContent q::after {
    content: close-quote;
}

.userContent q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.userContent bdo,
.userContent bdi {
    direction: rtl;
}

.userContent blink {
    text-decoration: blink;
}
